:host {
	width: block;
	height: 100%;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;

}
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #c40808;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(172, 164, 164);
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: rgb(255, 51, 0);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(172, 167, 167);
  color: rgb(139, 9, 9);
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
