:host {
	width: block;
	height: 100%;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	place-content: center;
	align-items: center;
	background: wheat;
}


.login {
	width: 300px;
 	padding: 30px;

	mat-form-field {
		width: 100%;
	}
}
