<form [formGroup]="meshForm">
  <mat-card class='example-card'>
      <mat-card-content>
          <div fxLayout="column" fxLayoutAlign="space-evenly stretch"  fxLayoutGap='10px'>
              <mat-form-field class='example-full-width' fxFlex='50'>
                  <mat-label>Name</mat-label>
                  <input matInput formControlName='name'>
              </mat-form-field>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-evenly stretch"  fxLayoutGap='10px'>
              <mat-form-field class='example-full-width' fxFlex='50'>
                  <mat-label>Group</mat-label>
                  <input matInput formControlName='group'>
              </mat-form-field>
          </div>
          <div fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='10px'>
              <mat-checkbox class='example-margin' formControlName='enabled'>Enabled</mat-checkbox>
          </div>

      </mat-card-content>
  </mat-card>
</form>

